* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.body {
    height: 7090px;
}

#logo {
    margin: 20px 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 30.713px;
    font-weight: 700;
    cursor: pointer;
}

#navbar {
    z-index: 1;
    display: flex;
    align-items: center;
    border: 1px solid;
    background-color: #FF3E41;
    color: rgb(206, 201, 201);
    position: sticky;
    top: 1px;
    max-width: 100%;
}

nav ul {
    display: flex;
    margin-left: 300px;

    font-family: Inter, sans-serif;
    font-weight: 400;
    size-adjust: 100%;
}

nav ul li a {
    padding: 27px;
    color: rgb(0, 0, 0);
}

#h3 {
    display: flex;

}

#num {
    position: relative;
    left: 10px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: black;
}

#d2 {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0);
    height: 78px;
    min-width: 100%;
    margin-top: 6px;
    line-height: 70px;
    background-color: rgb(255, 255, 255);
}

#head {
    margin-top: 4px;
    margin-left: 30px;

}

nav ul li a:hover {
    color: #FF3E41;
}

.ship {
    width: 100%;
    height: 600px;
    border: 2px solid rgba(255, 255, 255, 0);
    margin-top: 0%;
    background-image: url(ship3.jpg);
    background-repeat: no-repeat;
    background-color: rgb(252, 252, 252);
    background-position: center;
    background-size: cover;
}

#h5 {
    color: white;
    position: relative;
    top: 130px;
    left: 200px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 30px;
    font-family: Roboto, sans-serif;
}

#losolutions {
    color: rgb(255, 255, 255);
    position: relative;
    top: 130px;
    left: 200px;
    font-size: 64px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

#but1 {
    color: white;
    background-color: #ff5b5e;
    position: relative;
    top: 240px;
    left: 200px;
    height: 70px;
    width: 180px;
    font-size: 19px;
    border-radius: 5px;
    border-color: #ff3e4100;
    cursor: pointer;
}


#but2 {
    color: white;
    background-color: #51CFED;
    border-radius: 5px;
    border-color: rgba(0, 255, 255, 0);
    position: relative;
    top: 240px;
    left: 220px;
    height: 70px;
    width: 180px;
    font-size: 19px;
    cursor: pointer;

}

#but2 a {
    color: white;
    font-family: Roboto, sans-serif;
}

#but1 a {
    color: white;
}

#but1:hover {
    background-color: #ff5b5ed3
}

#but2:hover {
    background-color: #51dbed
}

.out1 {
    display: flex;

    width: 100%;
    height: 600px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 200px;
}

#bbox {
    width: 100%;
    height: 600px;
}

.aboutus {
    position: relative;
    left: 50px;
    top: 50px;
}

#global {
    border: 2px solid rgb(255, 255, 255);
    width: 200px;
    display: flex;
    height: 200px;
    margin-top: 50px;
}

#truck {
    border: 2px solid rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    position: relative;
    left: 250px;
    bottom: 204px;
}

.stet {
    position: relative;
    top: 90px;
    right: 60px;

}

#tr {
    position: relative;
    bottom: 10px;
}

#au {
    color: #51CFED;
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    position: relative;
    bottom: 15px;
}

#quicktransport {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    color: rgb(6, 3, 21);
}

#logisticssolutions {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    color: rgb(6, 3, 21);
}

.pa {
    margin-top: 5px;
}

.stet {
    margin-top: 10px;
    line-height: 20px;
}

#tr {
    margin-top: 7px;
    line-height: 20px;
}

#but3 {
    position: relative;
    bottom: 170px;
    left: 1px;
    height: 50px;
    width: 160px;
    background-color: #FF3E41;
    color: white;
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 40pxpx;
}

#but3:hover {
    background-color: rgba(216, 29, 29, 0.911);
}

#b3 {
    width: 100%;
    height: 600px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 200px;
}

#somefacts {
    border: 2px solid rgb(253, 248, 248);

    height: 450px;
    width: 500px;
    position: relative;
    top: 100px;
    left: 100px;
}

#redheadphone {
    width: 80px;
    height: 80px;
    border: 2px solid;
    background-color: #FF3E41;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: white;
    position: relative;
    top: 80px;
}

#headphone {
    height: 80px;
    width: 50px;
}

#call {
    border: 2px solid rgb(255, 252, 252);
    height: 50px;
    width: 200px;
    position: relative;
    left: 90px;
    top: 1px;
    line-height: 25px;
}

#p1 {
    margin-top: 50px;
    line-height: 30px;
}

.h {
    line-height: 30px;
}

#h61 {
    color: #51CFED;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 19px;
}

#h11 {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

#h6call {
    font-size: 16px;
    font-weight: 700;
}

#num {
    color: rgb(255, 62, 65);
    font-family: "Roboto", sans-serif;
}

.cb {
    width: 250px;
    height: 170px;
    border: 2px solid rgb(250, 250, 250);
}

#red {
    position: relative;
    left: 600px;
    bottom: 400px;
    background-color: #FF3E41;
    color: white;
}

#green {
    position: relative;
    left: 900px;
    bottom: 460px;
    color: white;
    background-color: rgb(25, 135, 84)
}

#blue {
    position: relative;
    left: 600px;
    bottom: 550px;
    background-color: #5ca6be;
    color: white;
}

#peo {
    position: relative;
    left: 10px;
    top: 10px;
    height: 60px;
    width: 70px;
}

#num2 {
    position: relative;
    left: 26px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

#hc {
    font-family: "Roboto", sans-serif;
    position: relative;
    left: 26px;
    font-size: 30px;
}

#star {
    position: relative;
    left: 10px;
    top: 10px;
    height: 60px;
    width: 70px;
}

#cr {
    font-family: "Roboto", sans-serif;
    position: relative;
    left: 26px;
    font-size: 25px;
}

#shipw {
    position: relative;
    left: 10px;
    top: 10px;
    height: 60px;
    width: 70px;
}

#cs {
    font-family: "Roboto", sans-serif;
    position: relative;
    left: 7px;
    font-size: 25px;
}

#ourservices {
    border: 2px solid rgba(8, 7, 7, 0);
    width: 100%;
    height: 910px;
    margin-top: 500px;

}

#os {
    border: 2px solid white;
    width: 500px;
    height: 100x;


    margin: 0px auto;
    line-height: 30px;
}

#h62 {
    position: relative;
    left: 172px;
    bottom: 5px;
    color: #51CFED;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700
}

#h12 {
    color: rgb(6, 3, 21);
    font-family: 700;
    font-size: 46px;
    font-family: Roboto, sans-serif;
}

.boxes {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 350px;
    height: 320px;
    padding: 30px;
    margin: 10px;
    background-color: rgba(241, 237, 237, 0.979);

}

#innerbox {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;

}

#innerbox2 {
    display: flex;
    justify-content: space-evenly;
}

.pimage {
    width: 352px;
    height: 200px;
}

.rm {
    width: 110px;
    height: 40px;
    cursor: pointer;
    background-color: #ff5b5e;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 5px 10px rgb(73, 68, 68);

}

.rm:hover {
    background-color: #fa1a1d;
    color: white;
}

#ourfeatures {
    border: 2px solid rgba(0, 0, 0, 0);
    margin-top: 1500px;
    width: 100%;
    height: 600px;
    position: relative;
    left: 100px;
}

#ourf {
    width: 500px;
    height: 560px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.globe {
    border: 2px solid rgba(0, 0, 0, 0);
    height: 66px;
    width: 66px;
}

.rglobe {
    width: 60px;
    height: 60px;
}

.pws {
    width: 310px;
    height: 80px;
    border: 2px solid rgba(0, 0, 0, 0);
    position: relative;
    left: 90px;
    bottom: 70px;
}

.diam {
    margin-top: 10px;
}

#h63 {
    color: #51CFED;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.h23 {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.h52 {
    font-family: Roboto, sans-serif;
    font-family: 20px;
    font-weight: 700;
    color: rgb(6, 3, 21);
    font-size: 15px;
}

#loading {
    width: 739px;
    height: 540px;
    position: relative;
    left: 600px;
    bottom: 610px;
}

#price {
    border: 2px solid rgba(0, 0, 0, 0);
    margin-top: 100px;
    width: 100%;
    height: 600px;
}

.pricingplan {
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 0px auto;

    height: 100px;
    width: 380px;
    line-height: 30px;
}

.h55 {
    text-align: center;
    margin-bottom: 5px;
    color: #51CFED;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.h15 {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    margin-top: 15px;
}

.pricebox {
    margin-top: 80px;
    border: 2px solid rgba(0, 0, 0, 0);
    height: 400px;
    width: 300px;
    box-shadow: 0px 30px 90px rgba(160, 159, 159, 0.952);
}

#forflex {
    display: flex;
    justify-content: space-evenly;
}

.tick {
    position: relative;
    top: 5px;
}

.basicplan {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.inprice {
    position: relative;
    top: 100px;
    left: 20px;
    line-height: 30px;
}

.h14 {
    position: relative;
    top: 50px;
    left: 20px;
    font-size: 40px;
    font-family: Roboto, sans-serif;
}

.h31 {
    font-size: 20px;
    position: relative;
    top: 30px;
    left: 10px;
    font-family: Roboto, sans-serif;
    color: #fa1a1d;
}

#getaquote {
    border: 2px solid rgba(0, 0, 0, 0);
    margin-top: 100px;
    width: 500px;
    height: 400px;
    position: relative;
    left: 100px;
}

#erat {
    line-height: 24px;
    margin-top: 2px;
}

#h16 {
    margin-top: 40px;
    font-family: Roboto, sans-serif;
}

#h53 {
    position: relative;
    top: 40px;
    color: #51CFED;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#form {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 600px;
    height: 400px;
    position: relative;
    left: 650px;
    bottom: 405px;
    background-color: rgba(155, 99, 99, 0.288);
}

#form1 {
    position: relative;
    left: 60px;
    top: 50px;
}

.inp {
    height: 50px;
    width: 200px;
    padding-left: 10px;
}

#input1 {
    position: relative;
}

#input2 {
    position: relative;
    left: 10px;
}

#input3 {
    position: relative;
    top: 25px;
}

#input4 {
    position: relative;
    top: 25px;
    left: 10px;
}

#note {
    position: relative;
    top: 60px;
}

#sub {
    position: relative;
    top: 80px;
    right: 0px;
    width: 450px;
    height: 60px;
    background-color: #fa1a1d;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-color: #51dbed00;
    border-radius: 10px;
}

#sub:hover {
    background-color: #d1191c;
}

#ourteam {
    border: 2px solid rgba(0, 0, 0, 0.021);
    width: 100%;
    height: 500px;
}

.h25 {
    font-family: Roboto, sans-serif;
    font-size: 35px;
    margin-top: 15px;
}

#tm {
    display: flex;
    justify-content: space-evenly;
}

.tm1 {
    border: 2px solid rgba(0, 0, 0, 0.178);
    height: 350px;
    width: 250px;
    box-shadow: 0px 10px 20px rgb(82, 74, 74);
}

.tw {
    width: 180px;
    height: 180px;
    position: relative;
    left: 35px;
    top: 35px;
}

.fn {
    position: relative;
    top: 60px;
    left: 35px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

.d {
    position: relative;
    top: 63px;
    left: 34px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

#testimonial {
    margin-top: 80px;
    border: 2px solid rgba(0, 0, 0, 0);
    height: 300px;
}

.h35 {
    font-family: Roboto, sans-serif;
    font-size: 35px;
    margin-top: 5px;
    position: relative;
    left: 50px;
}

#cn {
    display: flex;
    justify-content: space-evenly;
}

.cnd {
    border: 2px solid rgba(0, 0, 0, 0.014);

    height: 190px;
    width: 300px;
    box-shadow: 0px 10px 20px rgba(92, 83, 83, 0.767);
}

.h46 {
    position: relative;
    left: 110px;
    bottom: 65px;
}

.comment {
    position: relative;
    bottom: 20px;
    left: 10px;
}

#end {
    background-color: rgb(4, 4, 20);
    border: 2px solid black;
    height: 500px;
    width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: Roboto, sans-serif;
}

.da {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 250px;
    height: 300px;
    margin-top: 120px;
}

.icon1 {
    position: relative;
    top: 6px;
}

.fb {
    width: 50px;
    height: 40px;
}

.arrow {
    position: relative;
    top: 6px;
}

h4 a {
    color: white;
}

h4 a:hover {
    background-color: #d1191c;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dolor {
    position: relative;
    top: 20px;
}

#ym {
    position: relative;
    top: 50px;
    height: 50px;
    width: 235px;
    padding-left: 7px;
}

#s1 {
    position: relative;
    left: 140px;
    top: 7px;
    width: 100px;
    height: 30px;
    background-color: #fa1a1d;
    color: white;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 6px;
    cursor: pointer;
}

#s1:hover {
    background-color: #FF3E41;
}

#creation {
    color: white;
    position: relative;
    bottom: 40px;
    left: 460px;
    font-family: Roboto, sans-serif;
}